<div class="row justify-content-between align-items-center mt-4 mb-4 mx">
  <div class="col-auto">
      <h1>Your tasks</h1>
  </div>
  <div class="col-auto">
      <a (click)="goToEdit()" class="btn btn-light">Add a new task</a>
  </div>
</div>

<div class="container">
    <div class="col" *ngFor="let task of tasks; let i = index">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> {{ task.name }} </h5>
    
          <h6 class="card-subtitle mb-2"
            [ngClass]="{
              'text-warning': 'Pending' === taskStatus[task.status], 
              'text-primary': 'InProgress' === taskStatus[task.status], 
              'text-success': 'Completed' === taskStatus[task.status]}">
            {{taskStatus[task.status]}}
          </h6>
          <p class="card-text" style="font-weight: 300;">
            {{task.dueDate ? 'Due to ' + (task.dueDate | date: 'dd-MM-yyyy, HH:mm') : 'No due date' }}
          </p>
    
          <p class="card-text">{{ task.description }}</p>
          
          <a (click)="goToEdit(task)" class="btn btn-light"><i class="bi bi-pencil-square"></i></a>
          <a (click)="deleteTask(task.id!)" class="btn btn-light"><i class="bi bi-trash3"></i></a>  
          
        </div>
      </div>
    </div>
</div>







